* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url('../img/mesa\ de\ mezclas.jpeg');
    background-size: contain;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 40px;
}


/* Create three equal columns that floats next to each other */

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20%;
}

.one-column h1,
.one-column h2 {
    text-align: center;
}

#cadetblue {
    background-color: cadetblue;
}


/*Two columnas*/

.two-column {
    float: left;
    padding: 20px;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*FOOTER */

#footer-a {
    background-color: #21252995;
}

#footer-a p {
    color: white;
}

#footer-b {
    background-color: #212529;
    color: #868e96;
    text-align: center;
}


/*Image three-column*/

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 15px;
    text-align: center;
}


/*Four-columns*/

.four-column {
    padding: 20px;
    float: left;
    width: 25%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .one-column {
        width: 100%;
    }
}